<%= form_for(@adjective) do |f| %>
  <% if @adjective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adjective.errors.count, "error") %> prohibited this adjective from being saved:</h2>

      <ul>
      <% @adjective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
